body {
	min-width:800px;
}
.container {
	width:800px;
	margin:0 auto;
	margin-top:100px;
	color:#666;
}
.login-box {
	width:270px;
}
.icon{
	width:18px;
	height:18px;
	position:absolute;
	left:5px;
	top:9px;
	background:url(../images/sprite.png) no-repeat;
	background-position:-1250px -617px;
}
.icon-password {
	background-position:-1250px -527px;
}
input[type='text'],input[type='password']  {
	border:none;
	outline:none;
	margin-left:28px;
}
.uname, .upwd {
	position:relative;
	height:36px;
	border:1px solid #666;
	line-height:36px;
	margin-bottom:14px;
}
.login-box span:first-child, .login-box span:last-child, .login-box input[type='checkbox'], .login-box button {
	margin-bottom:14px;
}
.login-box button {
	color:#fff;
	text-align:center;
	width:100%;
	height:36px;
	cursor:pointer;
	background:#e02025;
}
.login-box button:active {
	outline:none;
}
.error-msg {
	height:36px;
	background:#fff6bd;
	border:1px solid #f5d8a7;
	line-height:36px;
	padding-left:10px;
	margin-bottom:14px;
}
/* error专用于input输入错误 */
.error {
	border-color:#e02025;
}
.register {
	color: #e02025;
}