.hide {
    display:none;
}
section {
    width:1200px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:100px;
}
/*已完成*/
.done-info {
    height:90px;
    line-height:90px;
    padding:20px;
    padding-left:80px;
    font-size:24px;
    font-weight:bold;
    color:#26ce61;
    background:url("../images/greenright.png") #f4fff8 no-repeat 30px center;

}

/*倒计时*/
.count-down {
    height:90px;
    padding:20px;
    padding-left:80px;
    background:url("../images/timeout.png") #fffbf2 no-repeat 30px center;
}
.count-down .tips {
    color:#faaf00;
    font-size:24px;
    margin-top:16px;
    font-weight:bold;
}
.count-down .time-left {
    margin-top:3px;
    color:#999;
    font-size:16px;
    margin-bottom:5px;
}
.count-down .time-left .seconds, .count-down .time-left .minutes{
    color:#faaf00;
}

/*警告*/
section .warning {
    margin:80px 0 10px 0;
    font-size:12px;
}
section .warning span{
    color:#f03d37;
}

/*购票信息*/
.ticket-info {
    border:1px solid #e5e5e5;
    border-radius:3px;
    width:100%;
    border-collapse:collapse;
}
.ticket-info thead {
    background:#f7f7f7;
}
.ticket-info tr td, .ticket-info tr th {
    width:20%;
    font-size:16px;
    padding:14px 0;
    font-weight: normal;
    text-align:center;
}
.ticket-info tr td {
    font-size:14px;
}
.ticket-info tr td:first-child {
    font-size:16px;
}
.ticket-info tr td.date {
    color:#f03d37;
}
.total-money .price{
    font-size:36px;
    color:#f03d37;
}
.total-money .price::before{
    content:"￥";
    display:inline-block;
    font-size:24px;
    color:#f03d37;
}
.total-money, .pay-btn {
    text-align:right;
    margin-top:12px;
}
.other-info {
    margin-top:70px;
}
.other-info .mc-info {
    line-height:20px;
}
.pay-btn .userpay{
    display: inline-block;
    width: 190px;
    height: 42px;
    font-size:16px;
    color: #fff;
    background:#eee;
    cursor:not-allowed;
    line-height: 42px;
    border-radius: 100px;
    text-align: center;
}
.pay-btn .userpay.hide{
    display:none;
}
.userpay.active {
    background-color: #f03d37;
    box-shadow: 0 2px 10px -2px #f03d37;
    cursor:pointer;
}
.error-msg {
    text-align:right;
    color:#f03d37;
    padding-top:10px;
}