.hide {
    display: none;
}
.search-box {
    background:#47464a;
    height:100px;
    line-height:100px;
    text-align:center;
    position:relative;
}
.search-box input {
    height:50px;
    font-size:16px;
    box-sizing:border-box;
    padding-left:40px;
    border:none;
    width: 700px;
    outline:none;
    background:#fff;
    border-radius:25px;
    background-position:96% center;
}
.searchbtn {
    width:27px;
    height:100%;
    position:absolute;
    outline:none;
    cursor:pointer;
    left: 50%;
    margin-left:300px;
    background:url(../images/redsearch.png) no-repeat center;
}
nav ul {
    justify-content: center;
    background:#47464a;
 }
 nav ul li{
   font-size:16px;
   width:100px;
   text-align: center;
   position: relative;
 }
 nav ul li a{
   color:#999;
   padding:20px 0;
     width:100%;
   display:inline-block;
 }
 nav ul li.active a{
   color:#ef4238;
 }
 nav ul .active::after {
   content: "";
   display: block;
   width:0;
   height:0;
   border:8px solid transparent;
   border-bottom:8px solid #fff;
   position: absolute;
   left:42px;
   bottom:0px;
 }
 nav ul li a:hover{
   color:#fff;
 }
 .not-found {
     padding:100px;
     font-size:16px;
     padding-right:0;
 }
 .not-found .advice {
    line-height:30px;
    color:#666;
 }
 section {
     width:1200px;
     margin:0 auto;
     /* background:pink; */
     box-sizing:border-box;
     padding:0 80px;
     margin-bottom:30px;
 }
 .movie-item:after{
     content:"";
     display:block;
     clear:both;
 }
 .movie-item .col-x-6 {
     position: relative;
     padding:0 20px;
 }
 .movie-poster {
     width:160px;
     float:left;
     

     /* height:220px; */
 }
 .movie-desc {
     position: absolute;
     left:180px;
     right:0;
     top:0;
     bottom:0;
     margin-left:20px;
     border-bottom: 1px solid #eee;
     display: flex;
     flex-direction: column;
     justify-content: center;
    /* display:inline-block; */
    /* vertical-align: middle; */
 }
 .movie-desc span {
    display:block;
    font-size:16px;
    line-height:30px;
}
 .movie-desc .score {
     font-size:26px;
     color:#ffb400;
 }
 .movie-desc .title{
     color:#333;
     font-size:26px;
 }
 .movie-desc .movie-item-cat {
     color:#333;
 }
 .movie-desc .movie-item-pub {
    color:#999;
}
